@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Coming Soon;
    color: #E1AD01;
}

body{
    background-image: url(https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
    background-attachment: fixed;
    height: 100vh;
}

/*  === HEADER === */

nav ul li{
    display: inline-block;
    padding: 1% 2% 0 0;
    font-size: 3vh;
}

nav ul{
    text-align: right;
}

nav ul li a{
    text-decoration: none;
}

nav ul li:hover{
    text-transform: uppercase;
    text-decoration:wavy;
}

/* === === === === */

/* === MAIN === */

main h1{
    padding: 2% 0 0 3%;
    font-size: 6vh;
    border-bottom: 2px solid #E1AD01;
    width: 42%;
    margin: 0 0 0 14%;
}

main section{
    font-size: 4vh;
}

main section p{
    width: 40%;
    display: inline-block;
    padding: 1% 0 0 0%;
    margin: 0 0 0 0%;
}

main section p:nth-of-type(1), main section p:nth-of-type(2){
    padding: 2% 0 0 0;
}

main section p:nth-of-type(1), main section p:nth-of-type(3){
    padding: 0% 0 0 20%;
}

main section p:nth-of-type(2){
    width: 55%;
}

main section p:nth-of-type(odd){
    padding-left: 20%;
}